@import "../../variables.scss";

.DashboardContainer {
  padding: 2rem;
  background-color: $pageBackground;

  .LeftContent {
    min-width: 250px;
    width: 100%;
  }

  .RightContent {
    min-width: 350px;
    width: 100%;
  }

  .Dashboard {
    margin: -$spacing;
  }
  .TableContainer {
    margin: $spacing * 2 $spacing;
  }
}
