@import "../../../variables.scss";

.Card {
  border-radius: 10px;
  overflow: hidden;
}

.CardHeader {
  background-color: $background-light;
  h3 {
    color: $primary;
  }
}

.CardBody {
  position: relative;
  height: 300px;
  background-color: $background;
}
