@import "variables.scss";

.App {
  text-align: center;
  height: 100%;
  margin: 1rem auto;
  max-width: $maximumWidth;
  width: 80%;
  border-radius: 5px;
  padding: 1rem 2rem;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

.background-image {
  filter: blur(7px);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.background-video {
  filter: blur(20px);
  opacity: 0.8;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
