$primary: #268dae;

$pageBackground: #121a24;
$background-light: #1e2735;
$background: #1c2230;

$profit: #38ae26;
$loss: #ae2650;

$text: rgba(255, 255, 255, 0.8);

$spacing: 8px;

$content-spacing: 16px;

$smallContainerHeight: 36px;
$mediumontainerHeight: 50px;
$largeContainerHeight: 80px;

$maximumWidth: 876px;

$fontSize_xxxsmall: 8px;
$fontSize_xxsmall: 10px;
$fontSize_xsmall: 12px;
$fontSize_small: 14px;
$fontSize_medium: 16px;
$fontSize_large: 20px;
$fontSize_xlarge: 24px;
$fontSize_xxlarge: 28px;
$fontSize_xxxlarge: 32px;
